<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <h1 href="/products"  >Shop Online</h1>
        <nav>
            <a href="/products"> Danh sách sản phẩm</a>
            <a href="/cart" class="cart-icon">Giỏ hàng 
                <span class="cart-count"><%= typeof cart !== 'undefined' ? cart.length : 0 %></span>
            </a>
        </nav>
    </header>
    <main>
